.container {
  background-color: beige;
  padding: 50px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(4, calc(100% / 4));
  grid-template-columns: repeat(4, calc(100% / 4));
}

.imgContainer {
  grid-row: 1 / 4;
  grid-column: 2 / -1;
  background-color: red;
}

.imgContainer > img {
  object-fit: cover;
  height: 90%;
  width: 90%;
}
